/* Header Styles */
header {
    background-image:url("../Images/backgrounds/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.head {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.head p {
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.head img {
    width: 100%;
}